<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table>
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item details</th>
      <th>Item old price</th>
      <th>Item new price</th>
      <th>Item av rating</th>
      <th>Item reviews</th>
      <th>Item location</th>
      <th>Item sku</th>
      <th>Item currency symbol</th>
      <th>Item image</th>
      <th>Item seller name</th>
      <th>Item url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= item.item_details %></td>
        <td><%= item.item_old_price %></td>
        <td><%= item.item_new_price %></td>
        <td><%= item.item_av_rating %></td>
        <td><%= item.item_reviews %></td>
        <td><%= item.item_location %></td>
        <td><%= item.item_sku %></td>
        <td><%= item.item_currency_symbol %></td>
        <td><%= item.item_image %></td>
        <td><%= item.item_seller_name %></td>
        <td><%= item.item_url %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
