<%= form_with(model: affiliate, local: true) do |form| %>
  <% if affiliate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(affiliate.errors.count, "error") %> prohibited this affiliate from being saved:</h2>

      <ul>
      <% affiliate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :affiliate_company %>
    <%= form.text_field :affiliate_company %>
  </div>

  <div class="field">
    <%= form.label :affiliate_name %>
    <%= form.text_field :affiliate_name %>
  </div>

  <div class="field">
    <%= form.label :affiliate_id %>
    <%= form.text_field :affiliate_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
